{% extends 'main.html' %}


{% block page_content %}
    <a href="https://www.facebook.com/v2.12/dialog/oauth?client_id=173482556629782&scope=publish_actions&redirect_uri=http://localhost:8080/oauth/facebook&state={{ state }}">Connect Your FB</a>
    <form action="{% url 'website_api:article_list' %}" method="get">
        <input name="q" placeholder="type keywords.." value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <a href="{% url 'website_api:article_add' %}">add new article</a>
    <ul>
        {% for article in my_articles %}
            <li><a href="{% url 'website_api:article_get' article.slug %}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}


{% block page_title %}
    <title>All articles</title>
{% endblock %}